<div class="megamenu-shop container-wide py-6 px-10">
    <div class="row">
        
        <!-- Left side: Categories -->
        <div class="col-8">
            <div class="row"> <!-- Adjusted spacing and columns -->
                {% for category in categories %}
                    {% if category.parent == None %}
                        <div class="col">
                            <div class="category-column">
                                <!-- Display the parent category -->
                                <h6 class="fw-bold">
                                    <a href="{% url 'shop:product_list_by_category' category_slug=category.slug %}" class="border-hover text-decoration-none py-2 d-block">
                                        <span class="border-hover-target">{{ category.name }}</span>
                                    </a>
                                </h6>

                                <!-- Recursively display the subcategories and subsubcategories -->
                                {% include 'shop/base/category_recursive_menu.html' with parent_category=category %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Right side: Recently viewed products -->
        <div class="col-4">
            <h6 class="fs-18px">Katsoit viimeksi</h6>
            <div class="row gy-6">
                {% for product in products %}
                    <div class="col-6">
                        <div class="card card-product grid-1 bg-transparent border-0">
                            <figure class="card-img-top position-relative mb-3 overflow-hidden">
                                <a href="{% url 'shop:product_detail' slug=product.slug %}" class="hover-shine d-block bg-light">
                                    {% if product.thumbnail %}
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" data-src="{{ product.thumbnail.url }}"
                                             class="img-fluid lazy-image w-75 mx-auto d-block">
                                    {% endif %}
                                </a>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-1 fs-6">
                                    <ins class="text-decoration-none">alk. {{ product.total_price }}€</ins></span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-14px fw-500 mb-1">
                                    <a class="text-decoration-none text-reset" href="{% url 'shop:product_detail' slug=product.slug %}">
                                        {{ product.attributes.first.family }} {{ product.name|truncatechars:30 }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
