{% load static %}
<script src="{% static "assets/vendors/bootstrap/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "assets/vendors/vanilla-lazyload/lazyload.min.js" %}"></script>
<script src="{% static "assets/vendors/waypoints/jquery.waypoints.min.js" %}"></script>
<script src="{% static "assets/vendors/clipboard/clipboard.min.js" %}"></script>
<script src="{% static "assets/vendors/lightgallery/lightgallery.min.js" %}"></script>
<script src="{% static "assets/vendors/lightgallery/plugins/zoom/lg-zoom.min.js" %}"></script>
<script src="{% static "assets/vendors/lightgallery/plugins/thumbnail/lg-thumbnail.min.js" %}"></script>
<script src="{% static "assets/vendors/lightgallery/plugins/video/lg-video.min.js" %}"></script>
<script src="{% static "assets/vendors/slick/slick.min.js" %}"></script>
<script src="{% static "assets/js/theme.min.js" %}"></script>
