{% extends "mail/mail.html" %}
{% block content %}

Hei {{ email }},
<br><br>
Olemme iloisia, että päätit rekisteröityä asiakkaaksi.
<br><br>
Nyt voit nauttia seuraavista eduista:<br>
<ul>
    <li>Laaja valikoima laadukkaita maaleja ja tarvikkeita</li>
    <li>Helppo tilaaminen ja nopea toimitus</li>
    <li>Ystävällinen asiakaspalvelu</li>
</ul>
Jos sinulla on kysyttävää tilauksestasi tai tarvitset apua, älä epäröi ottaa meihin yhteyttä.
<br><br>
Kiitos, että valitsit meidät!
<br><br>
Ystävällisin terveisin,<br>
Deco Paint Finland Oy -tiimi

{% endblock %}