<!doctype html>
<title>Ylläpidon tiedotus</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; margin-top: 200px; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
<article>
    <h1>Palaamme pian takaisin!</h1>
    <div>
        <p>Pahoittelemme häiriötä, mutta teemme parhaillaan huoltotöitä. Jos tarvitset apua, voit aina <a href="mailto:info@decopaint.fi">otaa meihin yhteyttä</a>. Muussa tapauksessa olemme pian taas verkossa!</p>
        <p>&mdash; Deco Paint Finland Oy tiimi</p>
    </div>
</article>