{% extends "shop/base/base.html" %}
{% block title %}
Tilaus on peruutettu
{% endblock %}
{% block content %}


<section class="z-index-2 position-relative pb-2 mb-12">
    <div class="bg-body-secondary mb-3">
      <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center py-1 mb-0">
            <li class="breadcrumb-item"><a title="Home" href="{% url 'shop:all_products' %}">Tuotekatalogi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tilaus peruutettu</li>
          </ol>
        </nav>
      </div>
    </div>
</section>

<section>
    <div class="container">
      <div class="text-center">
        <div class="text-center">
          <h2 class="fs-36px mb-9">Peruutettu</h2>
          <p class="fs-18px mb-14">
            Tilaus on peruutettu.
          </p>
        </div>
      </div>
    </div>
</section>

{% endblock %}