{% extends "shop/base/base.html" %}
{% block content %}

<section class="z-index-2 position-relative pb-2 mb-12">
    <div class="bg-body-secondary mb-3">
      <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center py-1 mb-0">
            <li class="breadcrumb-item"><a title="Home" href="{% url 'user:profile' %}">Käyttäjä</a></li>
            <li class="breadcrumb-item active" aria-current="page">Salasanan vaihto</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

<div class="form-content mb-15 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-center">Salasanan vaihto</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_old_password">Vanha salasana</label>
                                            <input type="password" name="old_password" autocomplete="new-password"
                                                    class="form-control" required id="id_old_password"
                                                    placeholder="Syötä vanha salasana"/>
                                            <span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password1">Uusi salasana</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                    class="form-control" required id="id_new_password1"
                                                    placeholder="Syötä uusi salasana"/>
                                            <span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password2">Uusi salasana uudestaan</label>
                                            <input type="password" name="new_password2" autocomplete="new-password"
                                                    required id="id_new_password2" class="form-control"
                                                    placeholder="Vahvista uusi salasana"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mt-6">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-primary" id="reset">Vaihda salasana</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}